{% extends 'base.html' %}
{% block head %}
<title>Note Taker</title>
{% endblock %}

{% block body %}
<div class="content">
  <h1>Note Taking App</h1>
  {% if notes|length<1 %}
    <h4>There are no tasks create one below</h4>
  {% else %}
  <table>
      <tr>
        <td>Note</td>
        <td>Date</td>
        <td>Actions</td>
      </tr>
      {% for note in notes %}
      <tr>
        <td> {{ note.content }} </td>
        <td> {{ note.date_created.date() }} </td>
        <td><a href="/delete/{{note.id}}" ><button>Delete</button></a>
          <br>
          <a href="/update/{{note.id}}" ><button>Update</button></a></td>
      </tr>
      {% endfor %}
  </table>
  {% endif %}
  <form action="/" method="POST">
    <input type="text" name="content" id="content">
    <input type="submit" value="Add Note">
  </form>
</div>
{% endblock %}